body{
	background-color: #FFFFFF;
}

.module-title {
	font-family: verdana, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	color: #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:100%;
	text-align:center;
}

.module-subtitle {
	font-family: verdana, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	color: #404040;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:100%;
	text-align:center;
}

.title-wrapper{
	width:800px;
	margin:auto;
}

h1 {
	font-family: verdana, sans-serif;
	font-size: .85em;
	font-weight: normal;
	color: #808080;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
} 				
	
h5 {
	font-family: verdana, sans-serif;
	font-size: .85em;
	font-weight: normal;
	color: #ff0000;
	margin: 0px 0px 0px  0px;
	padding: 0px 0px 0px  0px;
} 				
	
h2 {
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
} 				
	
h3 {
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: #808080;
	margin: 0px 0px 0px  0px;
	padding: 0px 0px 0px 0px;
} 				
	
h4 {
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: #0000ff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
} 

a:link{
	color:#404040;
	text-decoration: none;
	font-family:"verdana", verdana, sans-serif;
}

a:visited
{
	color:#404040;
	text-decoration: none;
	font-family:"verdana", verdana, sans-serif;
}

a:hover
{
	text-decoration: bold;
	font-family:"verdana", verdana, sans-serif;
}

.link {
	color:#404040;
	font-family:"verdana", verdana, sans-serif;
}

.hover-link{
	color:#4040ff;
	font-family:"verdana", verdana, sans-serif;
	text-decoration: bold;
}

.t2{
	font-size:16pt;
	font-weight:bold;
}

.center-title {
	align:center;
	text-align:center;
	font-size: 26pt;
	margin-left:auto;
	margin-right:auto;
}

.center-smaller {
	align:center;
	text-align:center;
	font-size: 14pt;
	font-family:"verdana", verdana, sans-serif;
	margin-left:auto;
	margin-right:auto;
}

.menu-button{
	padding-top:10px;
	background-image: url(images/button-up.png);
	width: 91px;
	height: 28px;
	font-family:"verdana", verdana, sans-serif;
	font-size:9pt;
	padding-left:0px;
}

.back-button{
	width:100px;
	background-color:green;
}

.button{	
	background-color:white; 
	float:left;
	color:#404040;
	text-align:center;
	margin-left:10px;
	margin-right:auto;
	width:110px;
	height:25px;
	padding-top:3px;
	font-family:"verdana", verdana, sans-serif;
	}
	
.button-clicked{
	float:left;
	text-align:center;
	margin-left:10px;
	margin-right:auto;
	width:110px;
	height:25px;
	color:#EB0000;
	padding-top:3px;
	font-family:"verdana", verdana, sans-serif;	
	}
	
.selection-row{
	height:200px;
}

.center-smaller{
	width:300px;
	height:150px;
}

.img_wrapper{
	width:100%;
	height:100%;
	margin:auto;
	/*border: solid orange 1px;*/
}

.wrapped_picture{
	max-height:100%;
	margin:auto;
}

#build-it-button{
	display:inline-block;
	width:325px;
	float:right;
	/*margin:auto;*/
	text-align:center;
}

#build-button{
	width:300px;
	/*margin:auto;*/
	float:right;
	text-align:center;
}

#build-image{
	width:100%;
}

#caption{
	margin:auto;
	text-align:center;
}

.centered-div{
	text-align:center;
	margin:auto;
}

.instructions-slider{
	width:800px;
}

.container-instructions{
	width:800px;
}

.bottom-info{
	clear:both;
}

.line{
	height:1px;
	width:800px;
	background-color:#404040;
	margin-bottom:-4px;
}

.category-table{
	margin:auto;
	border: 0px;
}

.menu-text{
	text-align:center;
}

#module-of-the-week{
	float:left;
	box-shadow: 0px 0px 4px #000;
	text-shadow: 1px 1px 1px #000;
	background-color: grey;
	width: 350px;
	height: 50px;
}

#missions{
	float:right;
	box-shadow:0px 0px 4px #000;
	text-shadow:1px 1px 1px #000;
	background-color:grey;
	width:350px;
	height:50px;
}

#main-page-week-module-missions-container{
	margin:auto;
	width:800px;
	margin-top:100px;
}

#header-menu-container{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

#navigation-abr{
	margins:0px;
	list-style-type:none; /*list-type-style:none get rid of the bullets in the list*/
	float:left;
	height:50px;
	width:800px;
	padding:0px;
	text-align:center;
}

#biy-logo{
	float:left;
	height:35px;
}

#biy-logo img{
	max-height:100%;
}

.nav-button{
	float:left;
}

#header-line{
	height:1px;
	width:800px;
	background-color:#404040;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:12px;
	margin-top:1px;
	clear:both;
	position:relative;
}

#empty-span{
	clear:none;
}

.selection-container{
	height:100px;
	width:800px;
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:-10px;
}

#menu-jquery{
	margin-left:-25px;
}

.button{
	display:none;
}

.gray-line{
	height:1px;
	width:800px;
	background-color:#404040;
	margin-left:auto;
	margin-right:auto;
	margin-top:-72px;
}

#content{
	width:800px;
	height:600px;
	margin-bottom:50px;
	margin:auto;
}

.charlotte{ /*my personal favourite! :)*/
	height:750px;
	display:none;
}

#bottom-gray-line{
	height:1px;
	width:800px;
	background-color:#404040;
	margin:0 auto;
}

#bottom-text{
	font-family: verdana, sans-serif;
	font-size: .85em;
	font-weight: normal;
	color: #404040;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
} 				

#bottom-email{
	color:#101010;
}

#redline{
	background-color:#EB0000;
	height:1px;
	width:100px;
	float:left;
	position:relative;
	display:none;
}